* {
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#carousel {
	height: 500px;
}

#carousel .carousel__img {
	position: relative;
}

#carousel .carousel__content {
	position: absolute;
	width: 70%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#carousel .carousel__content h2 {
	font-family: 'Montserrat', sans-serif;
	width: 50%;
	height: 100%;
	font-size: 70px;
	line-height: 80px;
	font-weight: bold;
	color: #fff;
}

@media (max-width: 1024px) {
	#carousel .carousel__content h2 {
		width: 100%;
	}
}

#carousel .carousel__content .btn {
	background-color: #fff;
	padding: 14px 30px;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #060606;
	border-radius: 4px;
	background: #fff;
	border: none;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

#carousel .carousel__content .btn:hover {
	background: #ff6e65;
	color: #fff;
	transition: 0.3s ease-out;
}

#carousel .slick-slide img {
	display: block;
	height: 500px;
	width: 100%;
	object-fit: cover;
}

#carousel .slick-dots {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 150px;
}

#carousel .slick-dots li {
	width: 30px;
	height: 30px;
}

#carousel .slick-dots li button:before {
	opacity: unset;
	font-size: 20px;
	color: #fff;
}

#carousel .slick-dots li.slick-active button:before {
	opacity: 0.75;
	color: #ff6e65;
}

#skill {
	position: relative;
	margin-top: -8%;
}

#skill .skill__item {
	text-align: center;
	height: 210px;
	padding: 50px 35px;
	position: relative;
	z-index: 1;
	border-radius: 8px;
}

#skill .skill__item i {
	font-size: 45px;
	color: #fff;
}

#skill .skill__item a {
	color: #fff;
	display: block;
	margin-top: 25px;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-decoration: none;
	transition: all 0.5s;
}

#skill .skill__item a:hover {
	color: #000;
}

#skill .skill__item.item__1 {
	background-color: #037ef3;
}

#skill .skill__item.item__2 {
	background-color: #ffc949;
}
#skill .skill__item.item__3 {
	background-color: #ff4f81;
}

#skill .skill__item.item__4 {
	background-color: #1ee697;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	line-height: 50px;
	font-weight: 600;
}

.title span {
	color: #ff6e65;
}

.title-lines {
	display: flex;
	justify-content: center;
}

.title-lines i {
	position: relative;
	width: 82px;
	height: 10px;
}

.title-lines i::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 2px;
	background-color: #707070;
}

.title-lines i::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 2px;
	background-color: #707070;
}

.title p {
	font-weight: 400;
	font-family: 'Segoe UI', sans-serif;
	padding-top: 8px;
	margin-top: 12px;
	font-size: 16px;
	line-height: 28px;
	color: #707070;
	letter-spacing: 0.4px;
}

#course {
	background-color: #f8f9ff;
}

#course .course__item .card {
	border-radius: 8px;
	overflow: hidden;
	transition: all 0.75s;
	border: 1px solid rgb(204 204 204 / 13%);
}

#course .course__item .card:hover {
	box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}

#course .card__header {
	position: relative;
}

#course .list__skill {
	position: absolute;
	top: 18px;
	left: 28px;
	font-family: 'Segoe UI', sans-serif;
}

#course .list__skill a {
	border-radius: 3px;
	font-size: 12px;
	font-weight: 600;
	padding: 4px 10px;
	color: #fff;
	text-transform: capitalize;
	display: inline-block;
	margin-right: 5px;
}

#course .course__price {
	position: absolute;
	right: 30px;
	bottom: -12px;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #ff6e65;
	color: #ffffff;
	box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
	min-width: 70px;
	min-height: 70px;
}

#course .course__time {
	font-family: 'Segoe UI', sans-serif;
	list-style: none;
}

#course .course__time i {
	color: #ff6e65;
}

#course .card-title {
	font-size: 22px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	transition: all 0.5s;
}

#course .card-title:hover {
	color: #ff6e65;
}

#course .card-text {
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #707070;
	letter-spacing: 0.4px;
}

#course .card-footer {
	display: flex;
	padding: 0;
	padding-top: 24px;
	margin-top: 48px;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
}

#course .course__rating,
.course__detail_more {
	width: 50%;
}

#course .course__rating {
	list-style: none;
	margin: 0;
}

#course .course__rating i {
	font-size: 14px;
	color: #ffc949;
}

#course .course__detail_more {
	color: #ff6e65;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

#course .course__detail_more:hover {
	color: rgb(102, 129, 247);
}

#course .btn__course__more {
	color: #fff;
	font-size: 16px;
	background-color: #ff6e65;
}

#course .btn__course__more:hover {
	background-color: rgb(102, 129, 247);
}

#service {
	background: url(../img/bg3.jpeg) center bottom / cover no-repeat;
}

#service .service__item {
	padding: 30px;
	background: #fff;
	border-radius: 8px;
}

#service .service__item i {
	display: inline-block;
	color: #0d369f;
	font-size: 28px;
	background: rgb(13 54 159 / 9%);
	width: 86px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
}

#service .service__item--desc {
	margin-left: 15px;
}

#service .service__item--desc h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #060606;
	font-weight: 600;
	margin-bottom: 6px;
}

#service .service__item--desc p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Segoe UI', sans-serif;
	line-height: 28px;
	color: #707070;
	letter-spacing: 0.3px;
}

#number .number__item {
	text-align: center;
	list-style: none;
}

#number .number__item:not(:last-child) {
	border-right: 1px solid #ebebeb;
}

#number .number__item span {
	font-size: 40px;
	font-weight: 600;
}

#number .number__item p {
	font-family: 'Segoe UI', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

#feedback .sub-test {
	color: #707070;
	font-family: 'Segoe UI', sans-serif;
}

#feedback .sub-test q::before {
	font-family: 'Segoe UI', sans-serif;
	font-size: 50px;
	color: #ff6e65;
	font-family: initial;
	line-height: 0.8;
	padding-top: 8px;
	display: inline-block;
}

#feedback .content {
	box-shadow: rgb(100 144 188 / 20%) 0px 8px 24px;
}

#feedback .member__img img {
	border-radius: 50%;
	overflow: hidden;
}

#feedback .member__info h5 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-weight: 600;
}
#feedback .member__info p {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	font-size: 12px;
	color: #999;
}

#instructors .instructors__item {
	border-radius: 8px;
	box-shadow: rgb(138 172 254 / 10%) 0px 20px 25px -5px,
		rgb(129 142 250 / 4%) 0px 10px 10px -5px;
		bd
	cursor: pointer;
}

#instructors .instructors__item:hover .instructor__info {
	height: 25%;
	bottom: 0;
}

#instructors .instructors__item:hover .instructors__body a {
	color: #ff6e65;
}

#instructors .instructors__img {
	position: relative;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#instructors .instructors__img img {
	width: 100%;
	height: 100%;
}

#instructors .instructor__info {
	position: absolute;
	width: 100%;
	height: 0;
	bottom: -100%;
	background: rgb(8 8 8 / 29%);
	transition: all 0.5s;
}

#instructors .instructors__social a:not(:last-child) {
	margin-right: 8px;
}

#instructors .instructors__social i:hover {
	opacity: 0.8;
}

#instructors .instructors__social i {
	color: rgb(66, 77, 175);
	font-size: 12px;
	line-height: 32px;
	background-color: #fff;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	transition: all 0.5s;
}

#instructors .instructors__body a {
	color: #000;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.5s;
}

#instructors .instructors__body p {
	color: #999;
	font-size: 12px;
	font-weight: 400;
}
