/* Light theme */
#checkbox{
    display: none;
}

.theme-switch-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

  #switchButton {
  cursor: pointer;
    background-color: white;
    
  }

  #switchButton .fa-sun {
    font-size: 24px;
    display: none;
  }

  #switchButton .fa-moon {
    font-size: 24px;
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color:white;
  }
  .dark #switchButton {
    background-color: black;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: white;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: black;
    color: white;
  }
  