/* Light theme */
#checkbox {
	display: none;
}

.theme-switch-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 16px;
}

#switchButton {
	cursor: pointer;
	background-color: white;
}

#switchButton .fa-sun {
	font-size: 24px;
	display: none;
}

#switchButton .fa-moon {
	font-size: 24px;
	display: block;
}

/* Dark Theme*/
.dark #my__body,
.dark #site-header,
.dark #course,
.dark #course .card,
.dark #service .service__item
 {
	background: #161c2d;
}

.dark .bg-primary {
	color: #4867b0 !important;
}

.dark #site-header .nav-link {
	color: #fff;
}

.dark #switchButton {
}

.dark #switchButton .fa-sun {
	display: block;
	color: #4867b0;
	background: #000;
}

.dark #switchButton .fa-sun:hover {
	color: #ff6e65;
}

.dark #switchButton .fa-moon {
	display: none;
}

.dark .navbar-brand,
.dark .title-main,
.dark .welcome-title,
.dark .title,
.dark .course__time,
.dark #course .card-title,
.dark #service .service__item h5,
.dark #number .number__item,

{
	color: #fff;
}


