/* Light theme */
#checkbox {
	display: none;
}

.theme-switch-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 16px;
}

#switchButton {
	cursor: pointer;
	background-color: transparent;
}

#switchButton .fa-sun {
	font-size: 24px;
	display: none;
}

#switchButton .fa-moon {
	font-size: 24px;
	display: block;
	background: transparent;
}

/* Dark Theme*/
.dark #dark-theme,
.dark #my__body,
.dark #site-header,
.dark #site-header .container__header,
.dark .study_carousel_bottom,
.dark .welcome__main,
.dark #course,
.dark #number,
.dark #feedback,
.dark #instructors,
.dark .contact,
footer .dark .right__side,
.dark #course .card,
.dark #service .service__item {
	background: #161c2d;
}

.dark .bg-primary {
	color: #4867b0 !important;
}

.dark #site-header .nav-link {
	color: #fff;
}

.dark #switchButton {
	background: transparent;
}

.dark #switchButton .fa-sun {
	display: block;
	color: #4867b0;
	background: transparent;
}

.dark #switchButton .fa-sun:hover {
	color: #ff6e65;
}

.dark #switchButton .fa-moon {
	display: none;
	background: transparent;
}

.dark #site-header .nav-item.active a {
	color: #ff6e65;
}

.dark .navbar-brand,
.dark .navbar-toggler-icon,
.dark .title-main,
.dark .welcome-title,
.dark .title,
.dark .title-lines,
.dark .course__time,
.dark #course .card-title,
.dark #service .service__item h5,
.dark #number .number__item,
.dark #number .number__item p,
.dark #instructors .instructors__body h5 a 
footer .dark .right__side {
	color: #fff;
}
