* {
	font-family: 'Montserrat', sans-serif;
}
p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.4px;
}
/* start contact */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.contact__left {
	align-items: center;
	justify-content: space-between;
}

.img__input img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

.contact__right h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 45px;
}

.contact__right p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.4px;
}

.btn1 {
	padding: 14px 30px;
	font-weight: 600;
	font-size: 16px;
	color: white;
	border-radius: 4px;
	background: #fe6e65;
	border: none;
	transition: all 0.25s ease-in-out;
}
.btn1:hover {
	background: #0d369f;
	color: #fff;
	transition: 0.3s ease-out;
}
/* end contact */

/* start footer */
footer {
	position: relative;
}
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.form__trai h3 {
	font-size: 35px;
	line-height: 40px;
	color: black;
	font-weight: 600;
}

.form__trai p {
	font-size: 15px;
	color: black;
	letter-spacing: 1px;
}

.form__phai {
	display: flex;
}

.form__container {
	width: 100%;
}

.form__container input {
	background: transparent;
	border: 1px solid #dcdcdc;
	padding: 15px 20px;
	font-size: 16px;
	color: black;
	width: 100%;
	border-radius: 8px 0px 0px 8px;
	height: 55px;
}

.form__phai button {
	background: #0d369f;
	border: none;
	color: #fff;
	padding: 16px 30px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 600;
	border-radius: 0 8px 8px 0;
}

.right__side {
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
	background: white;
	position: absolute;
	left: 0;
	right: 0;
	top: -60px;
	border-radius: 10px;
	border: 1px solid rgb(215 211 211 / 52%);
	box-shadow: 0px -1px 41px 0px rgb(68 147 227 / 8%);
}

@media (max-width: 1200px) {
	.right__side {
		margin: 0 15px;
		top: -78px;
	}
}

.footer__sub {
	padding: 80px 0;
	background: #060e1f;
}

.row.columns{
  display: flex;
  align-items:
}

.columns {
	margin-top: 120px;
}

.columns h4 {
	color: white;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(23, 54, 88, 0.4);
	padding-bottom: 10px;
	font-weight: bold;
}

.columns ul {
	list-style: none;
	font-size: 14px;
	line-height: 24px;
	color: #cecece;
	display: block;
	margin: 0;
	padding: 0;
}

.columns ul li {
	margin: 15px 0 10px 0;
}

.about__right__container {
	border-left: 1px solid rgb(64 73 82 / 51%);
}

.about__right__container p {
	font-size: 14px;
	line-height: 24px;
	color: #cecece;
}

.columns .icon__list ul li {
	display: inline-block;
	margin-right: 5px;
}

.icon__list li {
	color: #fff;
	width: 35px;
	height: 35px;
	background: rgba(255, 255, 255, 0.06);
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
}

/* copyright */

.footer__copyright {
	background: #040a17;
	padding: 20px 0;
}
.footer__copyright p {
	text-align: center;
	margin: 5px;
	font-size: 15px;
	line-height: 20px;
	color: #a0a0a0;
}

/* Back to top */
#movetop {
	display: block;
	position: fixed;
	bottom: 90px;
	right: 15px;
	z-index: 9;
	font-size: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	width: 40px;
	height: 40px;
	background: #0d369f;
	border-radius: 4px;
	padding: 0;
}
