* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body,
html {
  background: #fff;
  color: #707070;
}
.noscroll {
  min-height: 100vh;
  overflow: hidden;
}
a,
a:hover,
button,
button:hover {
  text-decoration: none;
  transition: 0.5s all;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}
.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}

/*top header  */
.study_top_header .top_header__content .top_header__item li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 2em;
}
.top_header__item i {
  color: #fff;
}
.top_header__item a {
  color: #fff;
  transition: all 0.5s;
}
.top_header__item a:hover {
  color: #ff6e65;
  text-decoration: none;
}
.study_top_header {
  padding: 14px 15px;
}

.top_header__contact i {
  margin-right: 8px;
}
.top_header__social i {
  transition: all 0.5s;
}
.top_header__social i:hover {
  color: #ff6e65;
}
/* header */
header {
  background-color:#fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}
.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-fixed {
  padding: 0;
  border-bottom: none;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #0d369f;
  font-weight: 600;
}

a.navbar-brand:hover {
  color: #ff6e65;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover {
  color: #ff6e65;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  transition: all 0.5s ease;
  padding: 6px 0;
  font-weight: 600;
  color: #060606;
}

.navbar form.search-box input {
  font-size: 15px;
  color: #060606;
  background: transparent;
  padding: 10px 35px 10px 14px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
  outline: none;
}
.navbar .search-box {
  display: flex;
  align-items: center;
}
.search-right .search-btn {
  position: absolute;
  color: #0d369f;
  right: 0;
  padding: 8px 12px 8px 2px;
}
.search-right button i {
  transition: all 0.5s;
}
.search-right button i:hover {
  color: #ff6e65;
}
a.dropdown-item:hover {
  color: #ff6e65;
  background: none;
}
/* carousel */
.carousel__content {
  position: relative;
}
.study_carousel .banner-view {
  background: url(/BC05_CapstoneHTMLCSS-nhom6/img/banner2.jpeg) no-repeat top
    right;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  min-height: 90vh;
}
.study_carousel .banner-top1 {
  background: url(/BC05_CapstoneHTMLCSS-nhom6/img/banner3.jpeg) no-repeat center
    right;
  background-size: cover;
}
.banner-info-bg {
  max-width: 600px;
}
.banner-info-bg h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
}
.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}
.owl-dots {
  position: absolute;
  right: 24px;
  bottom: 120px;
  background: none;
  margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 2px;
  color: #ff6e65;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  position: absolute;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ff6e65;
}

.owl-dots button:nth-child(2) span {
  position: absolute;
  bottom: 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.banner-view::before {
  content: "";
  background: linear-gradient(
    75deg,
    rgb(16 16 16 / 34%) 10%,
    rgb(230 2 100 / 0%)
  );
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.btn-style:hover {
  background: #ff6e65;
  color: #fff;
}

/* carousel_bottom */
.study_carousel_bottom {
  position: relative;
  margin-top: -4em;
}
.study_carousel_bottom .area-box {
  margin-top: 16px;
  height: 210px;
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: #fff;
}
.area-box.color-1 {
  background-color: #037ef3;
}
.area-box.color-2 {
  background-color: #ffc949;
}
.area-box.color-3 {
  background-color: #ff4f81;
}
.area-box.color-4 {
  background-color: #1ee697;
}

.area-box i {
  font-size: 45px;
  color: #fff;
}
.area-box h4 a {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.area-box a:hover {
  color: #000;
}
title-heading {
  max-width: 700px;
}
h3.title-main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
  color: #060606;
}
h3.title-main::before,
h3.title-main::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
h3.title-main::before {
  left: -20px;
  bottom: -8px;
}
h3.title-main::after {
  left: 20px;
  bottom: -15px;
}
h3.title-main span {
  color: #ff6e65;
}
.study_welcome .welcome__img i {
  color: #0d369f;
  font-size: 30px;
  background: rgb(168 176 195 / 11%);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}
h3.welcome-title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #060606;
  transition: all 0.5s;
}
p.welcome-text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}
.welcome__info a:hover h3 {
  color: #ff6e65;
}
